/* tab custom */
.tab-border-bottom-container,
.tab-border-top-container {
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask-composite: xor;
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    padding: 2px;
    width: 100% !important;
    height: calc(100% - 1px) !important;
    background-color: transparent !important;
    border-radius: inherit;
    box-sizing: border-box;
}

.tab-border-bottom-container:before,
.tab-border-top-container::before {
    content: "";
    width: 500px;
    height: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: spinner 3.7s cubic-bezier(0, 0, 1, 1) infinite;
    background: conic-gradient(
            from 0deg at 50% 51.35%,
            rgba(185, 215, 243, 0) 0deg,
            rgba(185, 215, 243, 0) 289.4deg,
            #737dfe 318deg,
            #fa7cbb 1turn
        ),
        conic-gradient(
            from 180deg at 50% 51.35%,
            rgba(185, 215, 243, 0) 0deg,
            rgba(185, 215, 243, 0) 287.46deg,
            #cb5eee 318deg,
            #4be1ec 1turn
        );
    border-radius: inherit;
}

@keyframes spinner {
    100% {
        transform: translate(-50%, -50%) rotate(1turn);
    }
}

.tab {
    background-color: #13151e !important;
    border-style: none;
    transition: transform ease 0.25s;

    &:first-child {
        margin-left: 6px;
    }

    &.active {
        border-radius: 999px !important;
        background-color: #141523 !important;
        transform: scale(1.05);
        z-index: 3;
    }
}

/* scrollbar custom */
.editor-container .monaco-scrollable-element > .scrollbar.vertical > .slider {
    width: 5px !important;
    background-image: linear-gradient(
        to top,
        #141523,
        #402565,
        #30be96,
        #402565,
        #141523
    );
    opacity: 0;
    transition: opacity ease 0.2s;

    &:hover {
        opacity: 1;
    }
}

.editor-container .monaco-scrollable-element > .scrollbar.horizontal > .slider {
    width: 5px !important;
    background-image: linear-gradient(
        to right,
        #141523,
        #402565,
        #30be96,
        #402565,
        #141523
    );
    opacity: 0;
    transition: opacity ease 0.2s;

    &:hover {
        opacity: 1;
    }
}
