.tab.active {
    border-radius: 6px !important;
}

.title-actions {
    display: none !important
}

.title.show-file-icons .label-container .monaco-icon-label.file-icon {
    justify-content: center;
    scale: 1.1;
}

/* fix Power Mode extension's issue */
.monaco-editor .lines-content > .view-lines > .view-line > span {
    width: inherit;
}

/* replace VSCode watermark */
.editor-group-watermark {
    max-width: 680px !important;

    & .letterpress {
        background-image: url("https://raw.githubusercontent.com/ichigoih/vscode-custom/main/VSCode-watermark/404-NotFound.png") !important;
        aspect-ratio: 8/5 !important;
        transform: rotate(-10deg);
    }
}
